{% extends "template.html" %}
{% block table %}
<div class="row col-md-offset-5">
    <form method="POST" action="/insert/client">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name(size=20) }} <br>
        {{ form.email.label }} {{ form.email(size=20) }} <br>
        {{ form.country.label }} {{ form.country(size=20) }} <br>
        {{ form.state.label }} {{ form.state(size=20) }} <br>
        {{ form.city.label }} {{ form.city(size=20) }} <br>
        {{ form.zipcode.label }} {{ form.zipcode(size=20) }} <br>
        {{ form.street.label }} {{ form.street(size=20) }} <br>
        {{ form.adnumber.label }} {{ form.adnumber(size=20) }} <br>
        <input type="hidden" value="query_all" name="request_type" />
        <input type="submit" value="Inserir">
    </form>
</div>
<div class="row col-md-offset-5">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
{% endblock %}